<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.0/font/bootstrap-icons.css">

<div class="d-flex flex-column align-items-stretch flex-shrink-0 kimen-scroll">
    <div *ngIf="router.url === '/comunicados/todos' || router.url === '/comunicados/noleidos'">
        <a class="d-flex align-items-center flex-shrink-0 p-3 link-dark text-decoration-none">
            <i class="bi bi-envelope fs-2 me-2"></i>
            <span class="fs-5 fw-semibold">Mensajes nuevos</span>
        </a>
        <div class="list-group list-group-flush scrollarea">
            <app-news-item></app-news-item>
            <app-news-item></app-news-item>
        </div>
    </div>
    <div *ngIf="router.url === '/comunicados/todos' || router.url === '/comunicados/leidos'">
        <a class="d-flex align-items-center flex-shrink-0 p-3 link-dark text-decoration-none">
            <i class="bi bi-envelope fs-2 me-2"></i>
            <span class="fs-5 fw-semibold">Mensajes leídos</span>
        </a>
        <div class="list-group list-group-flush scrollarea">
            <app-news-item></app-news-item>
            <app-news-item></app-news-item>
            <app-news-item></app-news-item>
            <app-news-item></app-news-item>
            <app-news-item></app-news-item>
            <app-news-item></app-news-item>
            <app-news-item></app-news-item>
            <app-news-item></app-news-item>
            <app-news-item></app-news-item>
            <app-news-item></app-news-item>
        </div>
    </div>
</div>