<div class="col py-2">
    <div class="shadow-sm kimen-card-item-master">
        <div class="card-body">
            <table class="table">
                <tr>
                    <th scope="col">Horario</th>
                    <th scope="col">Lunes</th>
                    <th scope="col">Martes</th>
                    <th scope="col">Miércoles</th>
                    <th scope="col">Jueves</th>
                    <th scope="col">Viernes</th>
                </tr>
                <tr>
                    <th scope="row">A</th>
                    <td><app-course-item [course]="getCourseSchedule(1, 1)"></app-course-item></td>
                    <td><app-course-item [course]="getCourseSchedule(2, 1)"></app-course-item></td>
                    <td><app-course-item [course]="getCourseSchedule(3, 1)"></app-course-item></td>
                    <td><app-course-item [course]="getCourseSchedule(4, 1)"></app-course-item></td>
                    <td><app-course-item [course]="getCourseSchedule(5, 1)"></app-course-item></td>
                </tr>
                <tr>
                    <th scope="row">B</th>
                    <td><app-course-item [course]="getCourseSchedule(1, 2)"></app-course-item></td>
                    <td><app-course-item [course]="getCourseSchedule(2, 2)"></app-course-item></td>
                    <td><app-course-item [course]="getCourseSchedule(3, 2)"></app-course-item></td>
                    <td><app-course-item [course]="getCourseSchedule(4, 2)"></app-course-item></td>
                    <td><app-course-item [course]="getCourseSchedule(5, 2)"></app-course-item></td>
                </tr>
                <tr>
                    <th scope="row">C</th>
                    <td><app-course-item [course]="getCourseSchedule(1, 3)"></app-course-item></td>
                    <td><app-course-item [course]="getCourseSchedule(2, 3)"></app-course-item></td>
                    <td><app-course-item [course]="getCourseSchedule(3, 3)"></app-course-item></td>
                    <td><app-course-item [course]="getCourseSchedule(4, 3)"></app-course-item></td>
                    <td><app-course-item [course]="getCourseSchedule(5, 3)"></app-course-item></td>
                </tr>
                <tr>
                    <th scope="row">D</th>
                    <td><app-course-item [course]="getCourseSchedule(1, 4)"></app-course-item></td>
                    <td><app-course-item [course]="getCourseSchedule(2, 4)"></app-course-item></td>
                    <td><app-course-item [course]="getCourseSchedule(3, 4)"></app-course-item></td>
                    <td><app-course-item [course]="getCourseSchedule(4, 4)"></app-course-item></td>
                    <td><app-course-item [course]="getCourseSchedule(5, 4)"></app-course-item></td>
                </tr>
                <tr>
                    <th scope="row">E</th>
                    <td><app-course-item [course]="getCourseSchedule(1, 5)"></app-course-item></td>
                    <td><app-course-item [course]="getCourseSchedule(2, 5)"></app-course-item></td>
                    <td><app-course-item [course]="getCourseSchedule(3, 5)"></app-course-item></td>
                    <td><app-course-item [course]="getCourseSchedule(4, 5)"></app-course-item></td>
                    <td><app-course-item [course]="getCourseSchedule(5, 5)"></app-course-item></td>
                </tr>
                <tr>
                    <th scope="row">F</th>
                    <td><app-course-item [course]="getCourseSchedule(1, 6)"></app-course-item></td>
                    <td><app-course-item [course]="getCourseSchedule(2, 6)"></app-course-item></td>
                    <td><app-course-item [course]="getCourseSchedule(3, 6)"></app-course-item></td>
                    <td><app-course-item [course]="getCourseSchedule(4, 6)"></app-course-item></td>
                    <td><app-course-item [course]="getCourseSchedule(5, 6)"></app-course-item></td>
                </tr>
              </table>
        </div>
    </div>
</div>