<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.0/font/bootstrap-icons.css">

<div class="p-1 h-100 sticky-top kimen-bg-navbar">
    <ul class="nav nav-pills flex-sm-column flex-row mb-auto justify-content-between text-truncate">
        <li class="nav-item">
            <a class="d-flex px-2 text-truncate kimen-navbar-link text-dark" routerLink="/administracion/alumnos" [routerLinkActive]="'kimen-navbar-link-selected'">
                <i class="bi bi-people me-2"></i>
                <span class="d-none d-sm-inline h6">Alumnos</span>
            </a>
        </li>
        <li>
            <a class="d-flex px-2 text-truncate kimen-navbar-link text-dark" routerLink="/administracion/profesores" [routerLinkActive]="'kimen-navbar-link-selected'">
                <i class="bi bi-person-video3 me-2"></i>
                <span class="d-none d-sm-inline h6">Profesores</span>
            </a>
        </li>
        <li>
            <a class="d-flex px-2 text-truncate kimen-navbar-link text-dark" routerLink="/administracion/cobranza" [routerLinkActive]="'kimen-navbar-link-selected'">
                <i class="bi bi-currency-dollar me-2"></i>
                <span class="d-none d-sm-inline h6">Cobranza</span>
            </a>
        </li>
        <!---
        <li>
            <a class="d-flex px-2 text-truncate kimen-navbar-link text-dark" routerLink="/administracion/asignaturas" [routerLinkActive]="'kimen-navbar-link-selected'">
                <i class="bi bi-journal-bookmark me-2"></i>
                <span class="d-none d-sm-inline h6">Asignaturas</span>
            </a>
        </li>
        --->
    </ul>
</div>