<app-navbar></app-navbar>

<div class="container-fluid flex-grow-1 d-flex flex-column overflow-auto h-100">
    <div class="row">
        <aside class="col-sm-2">
            <app-admin-sidebar></app-admin-sidebar>
        </aside>
        <main class="col overflow-auto kimen-scroll" *ngIf="router.url === '/administracion/alumnos'">
            <app-student-container *ngFor="let grade of grades" [grade]="grade"></app-student-container>
        </main>
        <main class="col overflow-auto kimen-scroll" *ngIf="router.url === '/administracion/profesores'">
            <div class="row">
                <app-teacher-item *ngFor="let teacher of teachers" [teacher]="teacher"></app-teacher-item>
            </div>
        </main>
    </div>
</div>