<app-navbar></app-navbar>

<div class="container-fluid pb-3 flex-grow-1 d-flex flex-column flex-sm-row overflow-auto h-100">
    <div class="row flex-grow-sm-1 flex-grow-0">
        <aside class="col-sm-4 flex-grow-sm-1 flex-shrink-1 flex-grow-0 sticky-top pb-sm-0 pb-3">
            <app-news-sidebar></app-news-sidebar>
        </aside>
        <main class="col overflow-auto">
            <app-news-container></app-news-container>
        </main>
        <main class="col overflow-auto" *ngIf="router.url === '/comunicados/nuevo'">
            Nuevo
        </main>
        <main class="col overflow-auto" *ngIf="router.url === '/comunicados/borradores'">
            Borradores
        </main>
    </div>
</div>