<div class="col py-2">
    <div class="shadow-sm kimen-card-item-master">
        <div class="card-body kimen-card-item" (click)="showDetail()">
            <h6 class="card-text">{{ teacher.name + ' ' + teacher.lastname }}</h6>
            <P>{{ teacher.rut + '-' + teacher.dv }}</P>
        </div>

        <div *ngIf="visible" class="row container-fluid">

            <h6 class="card-body card-text">Asignaturas</h6>

            <div class="row row-cols-sm-3">
                <ng-container *ngFor="let course of courses; let i = index">
                    <div class="py-2">
                        <input class="mx-2" type="checkbox"
                            id="{{ i }}" value="{{ course.id }}"
                            [checked]="course.is_teacher == true"
                            (change)="checkedChange($event, courses)">
                        <label for="{{ i }}">{{ course.name }}</label>
                    </div>
                </ng-container>
            </div>

            <h6 class="card-body card-text">Cursos</h6>

            <div class="row row-cols-sm-3">
                <ng-container *ngFor="let grade of grades; let i = index">
                    <div class="py-2">
                        <input class="mx-2" type="checkbox"
                            id="{{ i }}" value="{{ grade.id }}"
                            [checked]="grade.is_teacher == true"
                            (change)="checkedChange($event, grades)">
                        <label for="{{ i }}">{{ grade.name }}</label>
                    </div>
                </ng-container>
            </div>

            <div class="row row-cols-sm-3 py-4">
                <div></div>
                <div></div>
                <button class="btn-lg kimen-btn" (click)="saveTeacher()" type="button">Guardar</button>
            </div>

        </div>
    </div>
</div>