body, .kimen-bg {
    background-color: #e5ffcf !important;
}

.kimen-container {
    border: 2px solid #807046;
    background: #dfffb0;
}

.kimen-scroll {
    overflow-y: scroll;
    height: 85vh;
    border-bottom: 2px dotted #807046;
}

.kimen-bg-navbar {
    background-color: #dfffb0;
    border-bottom: 2px dotted #807046;
}

.kimen-btn {
    border: 2px solid #807046;
    border-radius: 8px;
    background: #e5ffcf;
    transition-duration: 0.2s;
}

.kimen-btn:hover {
    color: #807046;
    background: #caee95;
}

.kimen-input {
    border: 2px solid #807046 !important;
    background-color: #e5ffcf !important;
    transition-duration: 0.5s !important;
}

.kimen-input:hover {
    background-color: #caee95;
}

.kimen-navbar-link {
    border-radius: 5px;
    border: 2px solid #ffffff00;
    transition-duration: 0.3s;
    text-decoration: none !important;
}

.kimen-navbar-link:hover {
    border-color: #807046;
    background-color: #caee95;
}

.kimen-navbar-link-selected {
    pointer-events: none;
    font-weight: bold;
    border-color: #807046;
    background-color: #caee95;
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #807046;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border: 1px solid #807046;
    background: #dfffb0;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #caee95;
}